<div class="content">
  <app-highlight-card title="Standalone component migration and scaffolding"></app-highlight-card>
  <br/>
  <p>
    To support developers transitioning their apps to standalone APIs, Angular v16 includes migration schematics and a
    standalone migration guide. These tools dramatically reduce the effort required to move your code to standalone components,
    directives, and pipes : <a href="https://v17.angular.io/guide/standalone-migration" target=”_blank”>Details are available here</a>
  </p>

</div>
